In [33]:
#import packages
import pandas as pd
import seaborn as sns

In [2]:
# read in file and create dataframe
df = pd.read_csv('advance_tape.csv')

Please analyze the data and provide us insights about our advance originations and
performance data. Produce a light report on your findings.
Here are examples of questions we are looking for within the data:
1. Default rates by loan amount
2. Advance originations by different segmentations

## Inspect Data

In [6]:
df.head(10)

,user_id,id,origination_date,amount,banks,location_state,default_flag,pay_frequency
0,00005d618,dab032b8f,2018-09-18,170,Citi,NY,1,Monthly
1,00005d618,ef2879a5d,2018-04-27,130,Wells,TX,0,Irregular
2,0000759ff,8739db27d,2018-04-26,170,Chime,FL,0,Irregular
3,0000759ff,4d27ee400,2018-11-02,140,Wells,GA,0,Irregular
4,0000759ff,18e3eb77d,2018-09-01,170,Chase,CA,0,Monthly
5,000092b1c,0ff223e62,2018-07-18,150,Wells,CA,0,Irregular
6,000092b1c,d4e023bab,2018-11-27,120,Chime,FL,0,Weekly
7,000092b1c,375b599a5,2018-08-18,180,Chase,NY,0,Weekly
8,000092b1c,cdaa1c0bc,2018-06-03,200,Wells,FL,1,Irregular
9,000092b1c,cfa53eb7f,2018-12-16,240,Chase,FL,0,Monthly

### Features:
● User_id - Identifier for users
● Id - Unique identifier for advances
● Origination Date- Date of Advance Origination
● Amount - Origination Amount
● Location_State - State of Origination of Advance
● Banks - Bank of Borrower’s Depository Account
● Pay Frequency - Frequency of borrowers paycheck
● Default Flag - Advance has defaulted (Not repaid advance)

In [5]:
df.shape

(302866, 8)

There are 302,866 unique advances and 8 features in this dataset.

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 302866 entries, 0 to 302865
Data columns (total 8 columns):
user_id             302866 non-null object
id                  302866 non-null object
origination_date    302866 non-null object
amount              302866 non-null int64
banks               302866 non-null object
location_state      302866 non-null object
default_flag        302866 non-null int64
pay_frequency       302866 non-null object
dtypes: int64(2), object(6)
memory usage: 18.5+ MB

In [32]:
df.describe()

              amount   default_flag
count  302866.000000  302866.000000
mean      160.166212       0.179142
std        48.944875       0.383472
min        80.000000       0.000000
25%       120.000000       0.000000
50%       160.000000       0.000000
75%       200.000000       0.000000
max       240.000000       1.000000

In [35]:
# check for any null values
df.isnull().sum()

user_id             0
id                  0
origination_date    0
amount              0
banks               0
location_state      0
default_flag        0
pay_frequency       0
dtype: int64

In [22]:
# number of defaults and default percentage
print(df['default_flag'].value_counts())
print('Default Percentage: ' + (str(round((((len(df[df['default_flag'] == 1]))/len(df))*100), 2))))

0    248610
1     54256
Name: default_flag, dtype: int64
Default Percentage: 17.91

In [23]:
# Inspecting the unique values found in columns
df.nunique()

user_id              94009
id                  302866
origination_date       365
amount                  17
banks                    5
location_state           5
default_flag             2
pay_frequency            4
dtype: int64

In [ ]:
# There are 94,009 individual users while there are 302,866 advances.

In [28]:
df['amount'].unique()

array([170, 130, 140, 150, 120, 180, 200, 240, 220, 110, 210, 230,  80,
       160, 190,  90, 100])

In [29]:
df['banks'].unique()

array(['Citi', 'Wells', 'Chime', 'Chase', 'Goliath'], dtype=object)

In [30]:
df['location_state'].unique()

array(['NY', 'TX', 'FL', 'GA', 'CA'], dtype=object)

In [31]:
df['pay_frequency'].unique()

array(['Monthly', 'Irregular', 'Weekly', 'Biweekly'], dtype=object)

In [26]:
# convert origination_date to datetime
df['origination_date'] = pd.to_datetime(df['origination_date'])

In [ ]:
sns.barplot()